{% extends '_base.html' %}
{% load i18n %}

{% block title %} Lectures {% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item active" href="{% url 'interface-list' %}">Interface List</a>
{% endblock %}

{% block content %}

    {% for object in object_list %}

        <div class="card">
            <div class="card-block">
                <a href="#">
                    <h4 class="card-title">{{ object.1 }}
                        {% if object.0 %}
                            <button class="btn btn-sm btn-success">Wireless Interface</button>
                            <a class="btn btn-lg btn-info float-sm-right" href="#">Scan for Rouge</a>
                        {% endif %}
                    </h4>

                </a>

            </div>
        </div>

    {% endfor %}

{% endblock %}