{% extends '_base.html' %}
{% load i18n %}

{% block title %} Network Interfaces {% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item active" href="{% url 'interface-list' %}">Network Interface List</a>
{% endblock %}

{% block content %}
     {% if has_airodumps %}
            <a href="{% url 'kill-airodumps' %}" class="btn btn-lg btn-danger">Kill Existing Airodumps</a>
        {% endif %}
    {% for object in object_list %}
        <div class="card">
            <div class="card-block">
                <a href="#">
                    <h4 class="card-title">{{ object.1 }}
                        {% if object.0 %}
                            <button class="btn btn-sm btn-success">Wireless Interface</button>
                        {% endif %}
                        <a class="btn btn-lg btn-info float-sm-right" href="{% url 'evil-twin' object.1 %}">Scan for
                            Rouge</a>
                    </h4>

                </a>

            </div>
        </div>

    {% endfor %}

{% endblock %}